<block-ui>
    <form (ngSubmit)="salvar()" [formGroup]="form">
        <h3>CADASTRAR ITEM</h3>
        <div class="ui-fluid">
            <div class="p-field">
                <label for="nome">Nome</label>
                <input formControlName="nome" id="nome" pInputText type="text">
            </div>
            <div class="p-field">
                <label for="descricao">Descricao</label>
                <textarea cols="30" formControlName="descricao" pInputTextarea rows="3"></textarea>
            </div>
            <br>
            <div>
                <h4>Situação do seu item</h4>
                <input [value]="true" formControlName="disponibilidade" id="disponivel" type="radio">
                <label for="disponivel">DISPONÍVEL</label><br>
                <input [value]="false" formControlName="disponibilidade" id="indisponivel" type="radio">
                <label for="indisponivel">INDISPONÍVEL</label><br>
            </div>
            <br>
            <div>
                <h4>Categoria do item</h4>
                <select formControlName="categoriaId" id="categoria" name="categoria">
                    <ng-container *ngFor="let categoria of categorias">
                        <option value="{{ categoria.id }}">{{ categoria.descricao }}</option>
                    </ng-container>
                </select>
            </div>
            <br>
            <div>
                <h4>Insira a imagem do item</h4>
                <p-fileUpload (onSelect)="uploadImagem($event)" accept="image/*.jpeg" customUpload="true" maxFileSize="1500000000000"
                              mode="basic" name="imagem[]"></p-fileUpload>
            </div>
        </div>
        <p>
            <p-footer>
                <button label="CADASTRAR" pButton type="submit"></button>
            </p-footer>
        </p>
    </form>
</block-ui>
