<p-carousel [circular]="false" [numScroll]="3" [numVisible]="4" [responsiveOptions]="responsiveOptions"
            [value]="ofertasOfertado">
    <p-header>
        <h3>OFERTAS PROPOSTAS PARA MIM</h3>
    </p-header>
    <ng-template let-oferta pTemplate="item">
        <div class="car-details">
            <div class="p-grid p-nogutter">
                <div class="p-col-12">
                    <img [src]="oferta.item.imagem"/>
                </div>
                <div class="p-col-12 car-data">
                    <div class="car-title">
                        {{ oferta.item.nome }}
                    </div>
                    <div class="car-subtitle">
                        <p><strong>{{ oferta.usuarioOfertante.nome }}</strong></p>
                        <p><strong>{{ oferta.itensOfertados.length }} Itens ofertados</strong></p>
                    </div>
                    <div class="car-buttons">
                        <button (click)="showDisplay(oferta.id)" class="ui-button-secondary" icon="pi pi-search" label="Itens Ofertados"
                                pButton type="button"></button>
                        <hr>
                        <button (click)="aceitar(oferta.id)" class="ui-button-success" label="Aceitar Oferta" pButton
                                type="button"></button>
                        <br><br>
                        <button (click)="recusar(oferta.id)" class="ui-button-info" label="Recusar Oferta" pButton
                                type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<app-listagem-itens-ofertados #itensOfertadosDisplay></app-listagem-itens-ofertados>
